@import url("https://fonts.cdnfonts.com/css/nuku-nuku");
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.1/font/bootstrap-icons.css");
@import url("https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap");
@import url("https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css");
@import url("https://cdn.jsdelivr.net/npm/@fullcalendar/core@4.2.0/main.min.css");
@import url("https://cdn.jsdelivr.net/npm/@fullcalendar/daygrid@4.3.0/main.min.css");

.ubuntu-bold {
  font-family: "Ubuntu", sans-serif;
  font-weight: 700;
  font-style: normal;
}

html {
  height: 100dvh;
}

body {
  background: url("/static/images/general-bg.jpg") no-repeat center center fixed;
  background-size: cover;
  font-family: "Ubuntu", sans-serif;
  font-weight: 400;
  font-style: normal;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Nuku Nuku", sans-serif;
}

.card {
  background-color: rgba(255, 255, 255, 0.8);
}

#header {
  height: 100px;
  margin: auto;
  padding: 20px;
  width: 600px;
}

/*Modify scrollbar for approvals section*/
.addScroll::-webkit-scrollbar {
  width: 12px;
}

.addScroll::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
}

.addScroll::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.5);
}

.addScroll {
  overflow-y: auto;
  height: 700px;
  overflow-x: hidden;
}

#hideMe {
  -webkit-animation: cssAnimation 5s forwards;
  animation: cssAnimation 5s forwards;
}

#text_section {
  border-left: 2px solid blue;
  padding: 100px;
  margin-top: 100px;
  margin-bottom: 100px;
}

.fc-event {
  border: 1px solid #eee !important;
}

.fc-content {
  padding: 3px !important;
}

.fc-content .fc-title {
  display: block !important;
  overflow: hidden;
  text-align: center;
  font-size: 12px;
  font-weight: 500;
}

.fc-toolbar {
  display: block;
}

button.fc-today-button {
  text-transform: capitalize;
}

.form-group {
  margin-bottom: 1rem;
}

.form-group > label {
  margin-bottom: 10px;
}

#delete-modal .modal-footer > .btn {
  border-radius: 3px !important;
  padding: 0px 8px !important;
  font-size: 15px;
}

.context-menu {
  position: absolute;
  z-index: 1000;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.3);
  padding: 5px;
}

.context-menu ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.context-menu ul > li {
  display: block;
  padding: 5px 15px;
  list-style-type: none;
  color: #333;
  cursor: pointer;
  margin: 0 auto;
  transition: 0.1s;
  font-size: 13px;
}

.context-menu ul > li:hover {
  color: #fff;
  background-color: #007bff;
  border-radius: 2px;
}

.navbar-logo {
  width: 40px; /* Adjust the width as per your requirement */
  height: auto; /* Ensures the height scales proportionally */
  padding-bottom: 2px; /* Optional: Adjust margin for spacing */
}

.image_boxes {
  display: flex;
  align-items: center;
  margin-bottom: 2%;
  border: 2px solid #585858;
  overflow: hidden; /* Ensure content stays within box */
  border-radius: 15px;
}

.image_boxes img {
  max-width: 100%; /* Limit image width to the size of its container */
  height: auto; /* Maintain aspect ratio */
  display: block; /* Ensure image is displayed as a block element */
}

.fix_text {
  margin-left: 2%;
  text-align: center;
  flex: 1;
}

.home_page_boxes a:link,
a:visited,
a:active {
  text-decoration: none;
}
.home_page_boxes a:hover {
  text-decoration: underline;
}

.home_page_logins {
  display: flex;
  justify-content: space-between;
  margin: 2% 20% 2% 20%;
}

.home_page_login_areas {
  border: 2px solid #000000;
  border-radius: 15px;
  text-align: center;
  padding: 2%;
}

.home_page_login_areas p {
  font-size: 20px;
}

.home_page_login_areas input[type="button"] {
  background-color: #212529;
  color: #ffffff8c;
  border: 1px solid #212529;
  border-radius: 10px;
  padding: 3%;
}

.scrollable-panel {
  max-height: 800px;
  /* Adjust height as needed */
  overflow-y: scroll;
  overflow-x: hidden;
}

.divider-vertical {
  border-left: 1px solid #ccc;
  height: 100%;
}
