{%extends 'layout.html'%}
{%block content%}
<div class="card bg-light p-4">
    <!--What is VendorVerse? Association to JRIA and SMBC. How to use the service? -->
    <h3>What is VendorVerse?</h3>

    <div>
        <p>VendorVerse is an innovative web platform connecting local vendors in Tralee with JRI America
            employees.
            <br>Our service streamlines the booking process, allowing vendors to sell their goods and
            services during available times.
        </p>

        <h4>Our Mission</h4>
        <p>We're committed to supporting local businesses, fostering community engagement, and helping small
            enterprises thrive through our employee network.</p>

        <h4>Our Company</h4>
        <p>JRI America, Inc., located at <a
                href="https://www.google.com/maps/place/JRI-America/@52.2880559,-9.6700093,17z/data=!3m1!4b1!4m6!3m5!1s0x4845359cceab6b4f:0xe89504fbc015f259!8m2!3d52.2880528!4d-9.6675299!16s%2Fg%2F11gzq3d1nq?entry=ttu">Innovation
                Works 2, Kerry Technology Park, Tralee, Co. Kerry, V92 C6DD</a>, is a subsidiary of the
            Japanese IT financial services company, Japan Research Institute Ltd, which is the specialist IT
            subsidiary of Sumitomo Mitsui Financial Group(SMFG).</p>

        <h4>How to use our site?</h4>

        <h5>Vendor Registration</h5>
        <p>Vendors sign up and provide essential details such as business name, contact number, and business
            description.
            <br>Our Admin team reviews applications for quality and relevance, and you will recieve an email
            once your account has been approved.
        </p>

        <h5>Booking Process</h5>
        <p>Approved Vendors view their available days on the calendar.
            <br>Once a suitable day is selected, Vendors fill out a Booking Form, specifying location,
            requirements, and discount availability.
        </p>

        <h5>Connecting with Customers</h5>
        <p>Approved bookings are visible to all Employees on their calendar.
            <br>Vendors gain exposure and have a date to engage with potential customers.
        </p>
    </div>
</div>
{%endblock%}