{%extends 'layout.html'%}
{% block title %}Admin Dashboard{% endblock %}
{%block content%}
<p class="h1 fst-italic fw-medium">Welcome, Admin 👋</h2>
<div class="row">
    <div class="col-sm-12 col-lg-5">
        <div class="card p-4">
            <h2 class="text-center mb-4">Pending Approvals</h2>

            {% if not (bookings or vendors or employees)%}

            <div class="m-4">Good job! No Pending Approvals at the moment. Take a break ☕!</div>

            {% else %}


            <form action="{{url_for('admin.handle_approvals')}}" method="post" id="mainForm">
                <div class="overflow-scroll vstack gap-3" style="max-height: 640px; height: 640px;">
                    {% for booking in bookings %}
                    <div class="card mb-4">
                        <div class="card-header">
                            <div class="lead fw-bold">Booking Request</div>
                        </div>

                        <div class="card-body">
                            <div class="row">
                                <div class="col-7 justify-content-between align-items-start">
                                    <div class="fs-4 fw-bold">{{ booking.get("Title") }}</div>
                                    <div class="px-3">{{ booking.get("Deal") }}</div>
                                </div>
                                <div class="col-5 justify-content-end">
                                    <div class="text-end">{{ booking.get('Date') }}</div>
                                    <div class="text-end">{{ booking.get('Location') }}</div>
                                </div>
                            </div>

                            <hr>

                            <div class="row">
                                <div class="col-12">
                                    <strong>{{ booking.get("Vendor_Name") }}</strong>
                                    <div>📧 {{ booking.get("Vendor_Email") }}</div>
                                    <div>📞 {{ booking.get("Vendor_Phone") }}</div>
                                    <div>🏢 {{ booking.get("Vendor_Address") }}</div>
                                </div>
                            </div>

                        </div>
                        <div class="card-footer text-center">
                            <button type="button" class="btn btn-primary m-2" data-bs-toggle="modal"
                                data-bs-target="#approveModal"
                                onclick="setBookingId('{{ booking.id }}')">Approve</button>
                            <button type="button" class="btn btn-danger m-2" data-bs-toggle="modal"
                                data-bs-target="#cancelModal" onclick="setBookingId('{{ booking.id }}')">Reject</button>
                        </div>
                    </div>
                    {% endfor %}

                    {% for vendor in vendors %}
                    <div class="card ">
                        <div class="card-header">
                            <div class="lead fw-bold">Vendor Registration Request</div>
                        </div>

                        <div class="card-body">

                            <strong>{{ vendor.vendor_name or "N/A" }}</strong>
                            <div>📧 {{ vendor.get("Email") }}</div>
                            <div>📞 {{ vendor.vendor_phone or "N/A"}}</div>
                            <div>🏢 {{ vendor.vendor_address or "N/A"}}</div>


                        </div>
                        <div class="card-footer text-center">
                            <button type="button" class="btn btn-primary m-2" data-bs-toggle="modal"
                                data-bs-target="#approveModal" onclick="setUserId('{{ vendor.id }}')">Approve</button>
                            <button type="button" class="btn btn-danger m-2" data-bs-toggle="modal"
                                data-bs-target="#cancelModal" onclick="setUserId('{{ vendor.id }}')">Reject</button>
                        </div>
                    </div>
                    {% endfor %}

                    {% for employee in employees %}
                    <div class="card ">
                        <div class="card-header">
                            <div class="lead fw-bold">Employee Registration Request</div>
                        </div>

                        <div class="card-body">
                            <div>📧 {{ employee.get("Email") }}</div>
                        </div>
                        <div class="card-footer text-center">
                            <button type="button" class="btn btn-primary m-2" data-bs-toggle="modal"
                                data-bs-target="#approveModal" onclick="setUserId('{{ employee.id }}')">Approve</button>
                            <button type="button" class="btn btn-danger m-2" data-bs-toggle="modal"
                                data-bs-target="#cancelModal" onclick="setUserId('{{ employee.id }}')">Reject</button>
                        </div>
                    </div>
                    {% endfor %}
                </div>
                <!-- Hidden input to identify the action -->
                <input type="hidden" name="bookingIdField" id="bookingIdField">
                <input type="hidden" name="userIdField" id="userIdField">
                <input type="hidden" name="action" id="action">
            </form>

            {%endif%}
        </div>
    </div>

    <div class="col-sm-12 col-lg-7 justify-content-center align-items-center d-flex">
        {% include 'calendar.html' %}
    </div>
</div>

<!-- Approve Modal -->
<div class="modal fade" id="approveModal" tabindex="-1" role="dialog" aria-labelledby="approveModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="approveModalLabel">Approve</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <p>Are you sure you want to approve?</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" id="confirmApprove" onclick="submitApproveForm()">Confirm
                    Approve</button>
            </div>
        </div>
    </div>
</div>

<!-- Cancel Modal -->
<div class="modal fade" id="cancelModal" tabindex="-1" role="dialog" aria-labelledby="cancelModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="cancelModalLabel">Cancel Booking</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <p>Are you sure you want to cancel?</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="button" class="btn btn-danger" id="confirmCancel" onclick="submitDenyForm()">Confirm
                    Cancel</button>
            </div>
        </div>
    </div>
</div>


<script>
    function setBookingId(bookingId) {
        document.getElementById('bookingIdField').value = bookingId;
    }

    function setUserId(userId) {
        document.getElementById('userIdField').value = userId;
    }


    function submitDenyForm() {
        document.getElementById('action').value = 'DENY';
        document.getElementById('mainForm').submit();
    }

    function submitApproveForm() {
        document.getElementById('action').value = 'approve';
        document.getElementById('mainForm').submit();
    }
</script>

{%endblock%}
{%block scripts%}
<script src="{{ url_for('static', filename='/js/calendar.js') }}" type="module"></script>
{% endblock %}