<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Page</title>
    <link rel="stylesheet" href="./static/style.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fullcalendar/core@4.2.0/main.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fullcalendar/daygrid@4.3.0/main.min.css">
    {% include 'favicon.html' %}
    <style>
        #approvals_section {
            height: 700px; /* Adjust height as needed */
            overflow-y: scroll;
            overflow-x: hidden;
        }
    </style>
</head>
<body>
    {% include 'admin_navbar.html' %}

    
    <div class="gradient-custom-3">
        {% for mesg in get_flashed_messages() %}
            <div class="position-fixed bottom-0 end-0 p-3" style="z-index: 11">
                <div class="toast fade text-white bg-dark" id="myToast">
                    <div class="toast-header">
                        <strong class="me-auto">Booking Created</strong>
                        <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
                    </div>
                    <div class="toast-body">
                        {{ mesg }}
                    </div>
                </div>
            </div>
        {% endfor %}
        <div class="container">
            <div class="row">
                <div class="col-lg-8">
                    <h3 class="text-center">Calendar</h3>
                    
                    <div id='calendar' style="border-radius: 15px;"></div>

                    <!-- Modal for adding/editing bookings -->
                    <div id="form" class="modal fade" tabindex="-1"  style="border-radius: 15px;" aria-labelledby="modal-title" aria-hidden="true">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="modal-title">Modify Booking</h5>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                </div>
                                <div class="modal-body">
                                    <form action="{{url_for('admin')}}" method="post" id="booking-form">
                                        <div class="mb-3">
                                            <label for="date" class="form-label">Date</label>
                                            <input type="date" class="form-control" name="date" id="date" required>
                                        </div>
                                        <div class="mb-3">
                                            <label for="location" class="form-label">Location</label>
                                            <select class="form-select form-select-sm mb-3" aria-label=".form-select-sm" name="location" id="location" required>
                                                <option value="" disabled selected>Select Location</option>
                                                <option value="Front Car park">Front Car Park</option>
                                                <option value="Back Car Park">Back Car Park</option>
                                            </select>
                                        </div>
                                        <div class="mb-3">
                                            <label for="discount" class="form-label">Discount</label>
                                            <input type="text" class="form-control" name="deal" id="deal" required>
                                        </div>
                                        <div class="mb-3">
                                            <label for="additional-info" class="form-label">Additional Info</label>
                                            <textarea class="form-control"name="additional-info" id="additional-info" required></textarea>
                                        </div>
                                        <input type="hidden" name="event-id" id="event-id">
                                        <input type="hidden" name="booking-action" id="booking-action">
                                        <div class="text-center">
                                        <button type="submit" class="btn btn-primary" id="submit-button">Save Changes</button>
                                        <button type="submit" class="btn btn-danger" id="cancel-button">Cancel Booking</button>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div id="danger-alert" class="alert alert-danger" style="display:none;">End date must be after start date.</div>

                    <!-- Modal for Deleting Events -->
                    <div  style="border-radius: 15px;" class="modal fade" id="delete-modal" tabindex="-1" role="dialog" aria-labelledby="delete-modal-title" aria-hidden="true">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="delete-modal-title">Delete Event</h5>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                </div>
                                <div class="modal-body" id="delete-modal-body">
                                    Are you sure you want to delete this event?
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" id="cancel-delete-button">Cancel</button>
                                    <button type="button" class="btn btn-danger" id="delete-button">Delete</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                
                <div class="col-md-8 col-sm-8 col-lg-4 col-xl-4">
                    <form action="{{url_for('admin')}}" method="post" id="mainForm">
                        <h2 class="text-center">Pending Approvals</h2>
                        <div class="addScroll" style="padding: 30px;">
                            <div class="row">
                                {% for booking in bookings %}
                                    {% if booking.get('Status') == 'P' %}
                                        <div  class="card mt-5" style="border-radius: 15px;" >
                                            <div class="card-body">
                                                <h6>Booking Request #{{ loop.index }}</h6>
                                                {% if booking.vendor_name %}
                                                    <p>Vendor Name: {{ booking.vendor_name }}</p>
                                                    <p>Phone Number: {{ booking.vendor_phone }}</p>
                                                    <p>Address: {{ booking.vendor_address }}</p>
                                                {% else %}
                                                    <p>No vendor details available.</p>
                                                {% endif %}
                                                <p>Date: {{ booking.get('Date') }}</p>
                                                <p>Description: {{ booking.get('Additional Info') }}</p>
                                                <div class="text-center">
                                                    <button type="button" class="btn btn-primary m-2" data-bs-toggle="modal" data-bs-target="#approveModal" onclick="setBookingId('{{ booking.id }}')">Approve</button>
                                                    <button type="button" class="btn btn-danger m-2" data-bs-toggle="modal" data-bs-target="#cancelModal" onclick="setBookingId('{{ booking.id }}')">Cancel</button>
                                                </div>
                                            </div>
                                        </div>
                                    {% endif %}
                                {% endfor %}

                                {% for vendor in vendor_users %}
                                {% if vendor.get('Status') == 'P' %}
                                    <div class="card mt-5" style="border-radius: 15px;" >
                                        <div class="card-body">
                                            <h6>Vendor Registration Request #{{ loop.index }}</h6>
                                            {% if vendor.vendor_name %}
                                                    <p>Vendor Name: {{ vendor.vendor_name }}</p>
                                                    <p>Phone Number: {{ vendor.vendor_phone }}</p>
                                                    <p>Address: {{ vendor.vendor_address }}</p>
                                                {% else %}
                                                <p>No User details available.</p>
                                            {% endif %}
                                            <div class="text-center">
                                                <button type="button" class="btn btn-primary m-2" data-bs-toggle="modal" data-bs-target="#approveModal" onclick="setUserId('{{ vendor.id }}')">Approve</button>
                                                <button type="button" class="btn btn-danger m-2" data-bs-toggle="modal" data-bs-target="#cancelModal" onclick="setUserId('{{ vendor.id }}')">Cancel</button>                                                
                                            </div>
                                        </div>
                                    </div>
                                {% endif %}
                            {% endfor %}

                                {% for user in users %}
                                {% if user.get('Status') == 'P' %}
                                    <div class="card mt-5" style="border-radius: 15px;" >
                                        <div class="card-body">
                                            <h6>Employee Registration Request #{{ loop.index }}</h6>
                                            {% if user.get("Email") %}
                                                <p>Email: {{ user.get("Email") }}</p>   
                                            {% else %}
                                                <p>No User details available.</p>
                                            {% endif %}
                                            <div class="text-center">
                                                <button type="button" class="btn btn-primary m-2" data-bs-toggle="modal" data-bs-target="#approveModal" onclick="setUserId('{{ user.id }}')">Approve</button>
                                                <button type="button" class="btn btn-danger m-2" data-bs-toggle="modal" data-bs-target="#cancelModal" onclick="setUserId('{{ user.id }}')">Cancel</button>                                                
                                            </div>
                                        </div>
                                    </div>
                                {% endif %}
                            {% endfor %}
                            </div>
                        </div>
                        <input type="hidden" name="bookingIdField" id="bookingIdField">
                        <input type="hidden" name="userIdField" id="userIdField">
                        <!-- Hidden input to identify the action -->
                        <input type="hidden" name="action" id="action">
                    </form>
                </div>

                <!-- Approve Modal -->
                <div class="modal fade" id="approveModal"  style="border-radius: 15px;" tabindex="-1" role="dialog" aria-labelledby="approveModalLabel" aria-hidden="true">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="approveModalLabel">Approve</h5>
                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
                                <p>Are you sure you want to approve?</p>
                                <!-- Additional content if needed -->
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                <button type="button" class="btn btn-primary" id="confirmApprove" onclick="submitApproveForm()">Confirm Approve</button>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Cancel Modal -->
                <div class="modal fade" id="cancelModal"  style="border-radius: 15px;" tabindex="-1" role="dialog" aria-labelledby="cancelModalLabel" aria-hidden="true">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="cancelModalLabel">Cancel Booking</h5>
                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
                                <p>Are you sure you want to cancel?</p>
                                <!-- Additional content if needed -->
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                <button type="button" class="btn btn-danger" id="confirmCancel" onclick="submitCancelForm()">Confirm Cancel</button>
                            </div>
                        </div>
                    </div>
                </div>

                

                <!-- JavaScript Libraries -->
                <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ENjdO4Dr2bkBIFxQpeoTz1HIcje39Wm4jDKdf19U8gI4ddQ3GYNS7NTKfAdVQSZe" crossorigin="anonymous"></script>
                <script src="https://cdn.jsdelivr.net/npm/@fullcalendar/core@4.2.0/main.min.js" integrity="sha384-K4Nk3M58Sssp/XurpWfEZ76LWjdoa+RP28r8FR6/pc9tKVXcu+r8Bo+Q49u1u0n1" crossorigin="anonymous"></script>
                <script src="https://cdn.jsdelivr.net/npm/@fullcalendar/daygrid@4.2.0/main.js" integrity="sha384-HzsO7O03jzXNL71q5PoV/pyIOf38lLMWaZ2Gigw1XXKX7OGkJDgHk1mkABHkmw58" crossorigin="anonymous"></script>
                <script src="https://cdn.jsdelivr.net/npm/@fullcalendar/interaction@4.2.0/main.js" integrity="sha384-v0JEKw0y8RBe98KpDRzj2XKsds7Ab6Qfuwa6RZFOcbWWOJKvLwIFUyxs2kYXLP9w" crossorigin="anonymous"></script>
                <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.1/moment.min.js" integrity="sha384-Uz1UHyakAAz121kPY0Nx6ZGzYeUTy9zAtcpdwVmFCEwiTGPA2K6zSGgkKJEQfMhK" crossorigin="anonymous"></script>
                <script src="https://cdn.jsdelivr.net/npm/uuid@8.3.2/dist/umd/uuidv4.min.js" integrity="sha384-e2kr3z94YEVTtgf8bBbR3EHF3Oi1yLDp7GdxIRn6upe2VFHnSRQe0brjEOeRKCoj" crossorigin="anonymous"></script>
                <script type="module" src="./static/script.js"></script>

                <script>

                    // Function to format the date to YYYY-MM-DD
                    function getCurrentDate() {
                        const today = new Date();
                        const year = today.getFullYear();
                        const month = String(today.getMonth() + 1).padStart(2, '0');
                        const day = String(today.getDate()).padStart(2, '0');
                        return `${year}-${month}-${day}`;
                    }

                    // Set the min attribute of the date input field
                    document.addEventListener('DOMContentLoaded', () => {
                        const dateInput = document.getElementById('date');
                        dateInput.setAttribute('min', getCurrentDate());
                    });

                    document.addEventListener('DOMContentLoaded', (event) => {
                        var toastEl = document.getElementById('myToast');
                        var toast = new bootstrap.Toast(toastEl, {
                            autohide: true,
                            delay: 7000
                        });
                        toast.show();
                    });

                    function setBookingId(bookingId) {
                        document.getElementById('bookingIdField').value = bookingId;
                    }

                    function setUserId(userId) {
                        document.getElementById('userIdField').value = userId;
                    }

                    function submitBookingCancelForm() {
                        document.getElementById('booking-action').value = 'cancel';
                        document.getElementById('booking-form').submit();
                    }

                    function submitBookingModifyForm() {
                        document.getElementById('booking-action').value = 'modify';
                        document.getElementById('booking-form').submit();
                        console.log( document.getElementById('event-id').value)
                    }
                    

                    function submitCancelForm() {
                        document.getElementById('action').value = 'cancel';
                        document.getElementById('mainForm').submit();
                    }

                    function submitApproveForm() {
                        document.getElementById('action').value = 'approve';
                        document.getElementById('mainForm').submit();
                    }

                    document.getElementById('cancel-button').addEventListener('click', submitBookingCancelForm);
                    document.getElementById('submit-button').addEventListener('click', submitBookingModifyForm);
                </script>
            </div>
        </div>
    </div>
</body>
</html>