{%extends 'layout.html'%}
{% block title %}Login{% endblock %}
{%block content%}

<div class="row justify-content-center">
    <div class="col-md-6 justify-content-center">
        <div class="card overflow-scroll">

            <h2 class="text-center mb-5">Polls</h2>
            {% for poll in polls %}
            <div class="card mb-4">
                <div class="card-body">
                    <h5 class="card-title">{{ poll.get('Title') }}</h5>
                    {% if poll.get('Vendor_Name') != "No Vendor" %}
                    <p class="card-text"><strong>Vendor Name:</strong> {{ poll.get('Vendor_Name') }}</p>
                    {% endif %}
                    <form action="{{ url_for('polls.employee_polls') }}" method="post">
                        <input type="hidden" name="poll_id" value="{{ poll.id }}">
                        {% for option in poll.get('options') %}
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="selected_option"
                                id="option{{ loop.index }}" value="{{ option }}">
                            <label class="form-check-label" for="option{{ loop.index }}">
                                {{ option }}
                            </label>
                        </div>
                        {% endfor %}
                        <button type="submit" class="btn btn-primary mt-3">Submit</button>
                    </form>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</div>
{%endblock%}