{% extends 'layout.html' %}
{% block title %}Employee Dashboard{% endblock %}

{% block content %}
<p class="h1 fst-italic fw-medium">Welcome, Employee 👋</h2>
<div class="row">
    <div class="col-md-8 col-sm-8 col-lg-4 col-xl-4">
        <div class="card p-4 h-100 pb-0">
            <h2 class="text-center mb-4">Polls</h2>
            {% if not polls%}
            <p>No Polls at the moment, come back later!</p>
            {%else%}
            <div class="overflow-scroll vstack gap-3" style="max-height: 640px; height: 640px;">

                {% for poll in polls %}
                <div class="card mb-4">
                    <div class="card-body">
                        <h5 class="card-title">{{ poll.get('title') }}</h5>
                        {% if poll.get('vendor_name')%}
                        <p class="card-text"><strong>on behalf of</strong> {{ poll.get('vendor_name') }}</p>
                        {% endif %}
                        <form action="{{ url_for('poll.submit_poll_response') }}" method="post">
                            <input type="hidden" name="poll_id" value="{{ poll.id }}">
                            {% for option in poll.get('options') %}
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="selected_option"
                                    id="option{{ loop.index }}" value="{{ option }}">
                                <label class="form-check-label" for="option{{ loop.index }}">
                                    {{ option }}
                                </label>
                            </div>
                            {% endfor %}
                            <button type="submit" class="btn btn-primary mt-3">Submit</button>
                        </form>
                    </div>
                </div>
                {% endfor %}
                <i class="bi bi-arrow-down-circle align-self-center h3 mt-2"></i>
            </div>
            {%endif%}
        </div>
    </div>
    <div class="col-lg-8 card p-4">
        {% include 'calendar.html' %}
    </div>
</div>

{% endblock %}

{%block scripts%}
<script src="{{ url_for('static', filename='/js/calendar.js') }}" type="module"></script>
{% endblock %}