{%extends 'layout.html'%}
{%block content%}
<div class="mask d-flex align-items-center h-100 gradient-custom-3">
  <div class="container">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col-xs-12 col-sm-12 col-md-10 col-lg-6 col-xl-5">
        <div class="card" style="border-radius: 15px; min-height: 80vh;">
          <div class="card-body p-5">
            <h2 class="text-uppercase text-center mb-5">Login to VendorVerse</h2>

            <form action="{{url_for('auth.login')}}" method="post">

              <div data-mdb-input-init class="form-outline mb-4">
                <label class="form-label" for="Email">Email Address</label>

                {% if login_email %}
                <input type="email" id="Email" name="Email" class="form-control form-control-md" value={{login_email}}
                  required>
                {% else %}
                <input type="email" id="Email" name="Email" class="form-control form-control-md" required>
                {% endif %}

              </div>

              <div data-mdb-input-init class="form-outline mb-4">
                <label class="form-label" for="Password">Password</label>
                <input type="password" id="Password" name="Password" class="form-control form-control-md" required>
              </div>

              <!-- An element to toggle between password visibility -->
              <input type="checkbox" onclick="showPassword()">Show Password


              <div class="d-flex justify-content-center">
                <button type="submit" data-mdb-button-init data-mdb-ripple-init
                  class="btn btn-success btn-block btn-lg gradient-custom-4 text-body">Login</button>
              </div>

              <p class="text-center text-muted mt-2 mb-0">Don't have an account? <a href="{{url_for('auth.register')}}"
                  class="fw-bold text-body">Register</a></p>

              <p class="text-center text-muted mt-2 mb-0">Forgot you Password? <a href="{{url_for('auth.reset')}}"
                  class="fw-bold text-body">Reset Password</a></p>

            </form>

          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<script>
  function showPassword() {
    var password_field = document.getElementById("Password");
    //Show password as text
    if (password_field.type === "password") {
      password_field.type = "text";
    }
    //Hide Password again
    else {
      password_field.type = "password";
    }
  }
</script>
<script src="{{ url_for('static', filename='js/auth.js') }}" type="module"></script>

{%endblock%}