<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1"/>
    <title>Home</title>

    <link rel="stylesheet" href="./static/style.css">
    <link rel='stylesheet' href='https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css'>
    <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css'>
    <link rel='stylesheet' href='https://cdn.jsdelivr.net/npm/@fullcalendar/core@4.2.0/main.min.css'>
    <link rel='stylesheet' href='https://cdn.jsdelivr.net/npm/@fullcalendar/daygrid@4.3.0/main.min.css'>
    {% include 'favicon.html' %}
    </head>
    <body>
        <nav class="navbar navbar-expand navbar-dark bg-dark" aria-label="Second navbar example">
            <div class="container-fluid"> 
                <div class="navbar_About_Us">
                    <a class="navbar-brand" href="{{ url_for('index') }}">
                        <img src="../static/logo.png" alt="Logo" class="navbar-logo">
                        VendorVerse
                    </a>
                    <a class="nav navbar-nav nav-item nav-link navbar_About_Us_realign" aria-current="page" href="{{url_for("about_us")}}">About Us</a>
                </div>
            
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarsExample02" aria-controls="navbarsExample02" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <ul class="nav navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link" aria-current="page" href="{{url_for("login")}}">Login</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" aria-current="page" href="{{url_for("register")}}">Sign Up</a>
                    </li>
                </ul>
            </div>
        </nav>
        <div class="gradient-custom-4">
         <div class="container">
            {% for mesg in get_flashed_messages() %}
                <div class="position-fixed top-50 end-0 p-3" style="z-index: 1000">
                    <div class="toast fade text-white bg-dark" id="myToast">
                        <div class="toast-header">
                            <strong class="me-auto">Booking Created</strong>
                            <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
                        </div>
                        <div class="toast-body">
                            {{ mesg }}
                        </div>
                    </div>
                </div>
            {% endfor %}
            <div class="row">
                <h1>VendorVerse</h1>

                <!--Welcome statement-->
                <p>Hello/Konnichiwa, and Welcome to VendorVerse.</p>

                <div class="home_page_boxes">


                    <h3>Our Mission</h3>
                    <p>We're committed to supporting local businesses, fostering community engagement, and helping small enterprises thrive through our employee network.</p>


                    <!--Say why we have the service(Help local businesses gain customers). Picture, then text speaking about past vendors. -->
                    <h3>Why do we provide this Service?</h3>

                    <p>We provide this service to help local businesses gain customers and work with the local community.<br>We allow small businesses to gain large amounts of customers through our employees.</p>

                    <div class="image_boxes">
                        <img src="../static/PancakeStockPhoto.jpg">
                        <div class="fix_text">
                            <h4>Pancakes - Bookshelf</h4>
                            <p>This is an example of a past Vendor, who sold pancakes to employees.<br>The Vendor had a large amount of employees attending their stall.</p>
                        </div>
                    </div>

                    <div class="image_boxes">
                        <div class="fix_text">
                            <h4>Sushi - Kyoto</h4>
                            <p>This is an example of a past Vendor, who sold sushi to employees.<br>The Vendor has been requested to return to JRIA by employees.</p>
                        </div>
                        <img style="float:right;" src="../static/SushiStockPhoto.jpg">
                    </div>
                </div>
            </div>
        </div>
    </div>

        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ENjdO4Dr2bkBIFxQpeoTz1HIcje39Wm4jDKdf19U8gI4ddQ3GYNS7NTKfAdVQSZe" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/@fullcalendar/core@4.2.0/main.min.js" integrity="sha384-K4Nk3M58Sssp/XurpWfEZ76LWjdoa+RP28r8FR6/pc9tKVXcu+r8Bo+Q49u1u0n1" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/@fullcalendar/daygrid@4.2.0/main.js" integrity="sha384-HzsO7O03jzXNL71q5PoV/pyIOf38lLMWaZ2Gigw1XXKX7OGkJDgHk1mkABHkmw58" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/@fullcalendar/interaction@4.2.0/main.js" integrity="sha384-v0JEKw0y8RBe98KpDRzj2XKsds7Ab6Qfuwa6RZFOcbWWOJKvLwIFUyxs2kYXLP9w" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.1/moment.min.js" integrity="sha384-Uz1UHyakAAz121kPY0Nx6ZGzYeUTy9zAtcpdwVmFCEwiTGPA2K6zSGgkKJEQfMhK" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/uuid@8.3.2/dist/umd/uuidv4.min.js" integrity="sha384-e2kr3z94YEVTtgf8bBbR3EHF3Oi1yLDp7GdxIRn6upe2VFHnSRQe0brjEOeRKCoj" crossorigin="anonymous"></script>
        
    </body>
</html>